mixin plan(plans)
	.plans__form
		each item in plans
			input(class='plans__input' 
					id='#{item[0]}' 
					type='radio'
					name='plans' 
					checked != item[2])
			label(class='plans__label' 
					for='#{item[0]}')!= item[1]
